@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff");
}

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff");
}

@font-face {
  font-family: "MuseoSansCyrl-900";
  src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-900.woff") format("woff");
}