@import "./normalize";
@import "./fonts.scss";

* {
  font-family: "MuseoSansCyrl-500";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

header {
  padding-top: 15px;
  box-sizing: border-box;
}

.header-logo {
  margin: 0 0  15px 0;
}

.header-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 292px;
    height: 70px;
    fill: none;
  }

  .search {
    width: 557px;
    height: 50px;
    font-size: 16px;
    color: #00000080;
    background: #f3f3f3;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 26px;
    padding: 13px 20px 13px 20px;
    background-position-x: 96%;
    background-position-y: center;
  }

}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #00000026;

  .header-list {
    display: flex;
  }

  .header-list-item {
    display: flex;
  }

  a {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 20px 22px;
  }

  a:hover {
    background-color: #e69a37;
    color: #ffffff;
  }

  .active {
    background-color: #323232;
    color: #ffffff;
  }

}

.preview-slider {
  position: relative;
  
  .preview-slider-btn {
    position: absolute;
    bottom: 41px;
    left: 50%;
    display: flex;
    transform: translate(-57%, 0);

    .preview-btn-item {
      width: 12px;
      height: 12px;
      background-color: #ffffff1a;
      border: 1px solid #ffffff;
      padding: 0;
    }

    .preview-btn-item + .preview-btn-item {
      margin-left: 15px;
    }

    .preview-btn-item:hover {
      background-color: #ffffff;
    }

    .preview-btn-item.active {
      background-color: #e69a37;
    }
    
  }

}

.preview-slider-item {
  position: relative;
  height: 670px;
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1.5s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .preview-item-header {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 0.5%);
    width: 1170px;

    h3,
    h1,
    p {
      color: #ffffff;
    }
  
    h3 {
      display: flex;
      background-color: #e69a37;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      width: 228px;
      height: 38px;
      align-items: center;
      justify-content: center;
    }
  
    h1 {
      font-size: 60px;
      line-height: 68px;
      max-width: 580px;
      margin: 18px 0px;
      font-family: "MuseoSansCyrl-900";
    }
  
    p {
      max-width: 660px;
      font-size: 22px;
      line-height: 28px;
      font-family: "MuseoSansCyrl-300";
    }
  }

}

@keyframes fade {

  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }

}

.footer-nav {

  .footer-btn-next,
  .footer-btn-prev {
    display: none;
  }

}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .footer-list-item {
    display: block;
    
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 20px;
      color: #323232;
      padding: 26px 22px;
    }

    a:hover {
      text-decoration: underline;
      background-color: #f3f3f3;
    }

    svg {
      width: 50px;
      height: 50px;
      fill: none;
    }

    svg {
      margin-right: 9px;
    }

    p {
      max-width: 131px;
    }

  }

  .footer-list-item.active,
  .footer-list-item.next {
    display: flex;
  }

  .footer-list-item.next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .to-left {
    animation-name: left;
  }
  
  .from-right {
    animation-name: right;
  }
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

}

.footer-block {
  height: 67px;
  border-top: 1px solid #00000026;
}

@media (min-width: 1200px) and (max-width: 1399px) {

  .header-container {
    width: 1140px;
  }

  .preview-slider-item {

    .preview-item-header {
      width: 1140px;
    }

  }

  .footer-list {

    .footer-list-item {

      a {
        padding: 26px 19px;
      }

    }

  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .header-container {
    width: 932px;
  }

  .preview-slider-item {

    .preview-item-header {
      width: 932px;
    }

  }

  .footer-list {

    .footer-list-item {

      svg {
        width: 40px;
        height: 40px;
      }

      a {
        padding: 4px 0px;
        height: 100px;
      }

      p {
        max-width: 137.4px;
      }

    }

  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .header-container {
    width: 728px;

    .search {
      width: 350px;
    }

  }

  .header-nav {

    a {
      font-size: 14px;
    }

  }

  .preview-slider-item {

    .preview-item-header {
      width: 728px;
    }

  }

  .footer-list {

    .footer-list-item {

      svg {
        width: 40px;
        height: 40px;
        margin: 0;
      }

      a {
        padding: 6px 7.3px;
        flex-direction: column;
      }

      p {
        text-align: center;
      }

    }

  }

}

@media (min-width: 576px) and (max-width: 767px) {

  header {
    width: 556px;
    margin: 0 auto;
  }

  .header-container {
    width: 556px;

    .search {
      width: 350px;
    }

  }

}

@media (max-width: 767px) {

  .header-container {
    flex-direction: column;

    .logo {
      margin-bottom: 10px;
    }

    .search {
      width: 300px;
    }

  }

  .menu-burger-header {
    position: relative; 
    width: 40px;
    height: 35px;
    display: block;
    margin: 0 0 15px 0;
    cursor: pointer;
    z-index: 10;
  }

  .menu-burger-header span,
  .menu-burger-header:after,
  .menu-burger-header:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: #323232;
    margin: 0 auto;
    z-index: 10;
  }

  .menu-burger-header span{
    top: 21px;
  }

  .menu-burger-header:after, .menu-burger-header:before{
    content: '';
  }

  .menu-burger-header:after{
    bottom: -5px;
  }

  .menu-burger-header:before{
    top: 5px;
  }

  .menu-burger-header.open-menu span {
    opacity:0; 
    transition: 0.5s;
  }

  .menu-burger-header.open-menu:before {
    transform: rotate(-45deg);
    top: 16px;
    transition: 0.4s;
    background-color: #ffffff;
  }

  .menu-burger-header.open-menu:after {
    transform: rotate(45deg);
    bottom: 15px;
    transition: 0.4s;
    background-color: #ffffff;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #323232;
    width: 100%;
    height: 100%;
    left: -100%;
    transition: all 0.4s ease;
    overflow: auto;
    z-index: 5;
    opacity: 0.9;

    .header-list {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }

    li {
      margin: 36px 0 0 0;
    }

    a {
      color: #ffffff;
    }

    .active {
      background: none;
    }

  }

  .header-nav.open-menu {
    left: 0;
    justify-content: flex-start;
  }

  .fixed-page{
    overflow: hidden;
  }

  .preview-slider-item {

    .preview-item-header {
      width: 556px;
    }

  }

  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 556px;
    margin: 0 auto;
  }

  .footer-list {

    .footer-list-item {

      svg {
        width: 40px;
        height: 40px;
        margin: 0;
      }

      a {
        height: 140px;
        padding: 6px 0;
        flex-direction: column;
        font-size: 13px;
      }

      p {
        text-align: center;
      }

    }

  }

}

@media (max-width: 575px) {

  header {
    width: 100%;
    margin: 0;
    padding: 15px 10px 0 10px;
  }

  .header-form {
    width: 100%;
  }

  .header-container {

    .search {
      width: 100%;
    }

  }

  .preview-slider-item {

    .preview-item-header {
      width: calc(100% - 20px);
      left: 0;
      transform: translate(10px, 0px);

      h1 {
        font-size: 32px;
        line-height: 36px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
      }
    }

  }

  .footer-nav {
    width: 100%;

    .footer-btn-next,
    .footer-btn-prev {
      display: block;
      width: 30px;
      height: 30px;
      fill: none;
      padding: 5px;
      cursor: pointer;
    }

    .footer-btn-next:hover,
    .footer-btn-prev:hover {
      background-color: #e69a37;
      border-radius: 50%;

      path {
        stroke: #ffffff;
      }

    }

  }

  .footer-list {
    margin: 0 15px;

    .footer-list-item {
      display: none;

      svg {
        width: 45px;
        height: 45px;
      }

    }

  }

}

